$body-bg: #f8f9fa;
$font-size-base: 0.9rem;

$fa-css-prefix: icon;

$enable-gradients:true;
//$enable-transitions:true;
$enable-rounded:false;
$enable-shadows:true;
$table-border-width:0;

$table-accent-bg:rgb(248, 249, 250);
