
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

$white : white;
// Bootstrap
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";
@import "DataTables4";
@import "~easy-autocomplete/src/sass/easy-autocomplete";
@import "~easy-autocomplete/src/sass/easy-autocomplete.themes";

@import "~bootstrap4c-chosen/src/scss/component-variables";
@import "~bootstrap4c-chosen/src/scss/component-chosen";

.navbar{
  border-bottom: 1px solid darken($white,10);
}

.currency-name{
  position: relative;
  display: block;
  line-height: 1rem;
  .rounded-circle{
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
  }
  @include hover {
    //color: $link-hover-color;
    text-decoration: none;
  }


}

.align-middle{
  th,td{
    @extend .align-middle;
  }
}

.dt-bootstrap4{
  &.container-fluid{
     padding-right: 0;
     padding-left: 0;
  }
}

.globe-data{
  color: rgba(white,.7);
  border-bottom: 1px solid #ffffff21;
  font-size: 80%;
  a{
    color: white;
  }
}
.bg-primary{
  background: #22c1c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

//
//.tab-content {
//  > .tab-pane {}
//  > .active {
//    background-color: $nav-tabs-link-active-bg;
//    border: $nav-tabs-border-width solid $nav-tabs-link-active-border-color;
//    @extend .border-top-0;
//  }
//}
//
